<div id="answerTileWell" class="well" style="text-align:right;">
<h4 id="answerAuthor" style="display:inline;">{{answer.author}}</h4><p style="display:inline;"> said:</p><hr>
<p class="answerContent">"{{answer.content}}"</p>
</div>
