<h3>{{question.content}}<br><small> Posted by: <strong>{{question.author}}</strong></small></h3>
<br>
<p class="addiNotes" style="text-align:right;"><em>(Additional Notes)</em></p><p class="notes"> - {{question.notes}}</p>
<hr>
