<br>
<p id="place" style="text-align:center;"><strong>This is a place for questions and answers.</strong></p><p id="collab" style="text-align:center;">Collaborate with a global community of fellow programmers to solve problems, suggest new ideas, and give back to the community!</p><br>
{{new-question saveQuestion = "saveQuestion"}}
<p id="all">Questions:</p>
<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>
