<h1>Tech AMA</h1>
<br>
<p>This is a place for questions and answers. Collaborate with a global community of fellow programmers to solve problems, suggest new ideas, and give back to the community!</p><hr>
<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>
