<div class="row">
  <div class="col-md-5 col-md-offset-0">
    <div class="container">
      <div id="qDetails">
        {{question-detail question=model editQuestion="editQuestion" destroyQuestion="destroyQuestion"}}
        {{new-answer question=model newAnswer="newAnswer"}}
      </div>
    </div>
  </div>
  <div class="col-md-5 col-md-offset-7">
    <h3 style="text-align:center;">Answers:</h3>
    {{#if model.answers}}
      {{#each model.answers as |answer|}}
        {{answer-tile answer=answer}}
      {{/each}}
    {{else}}
      <p style="text-align:center;">Nobody has answered this question yet! I think it's your time to shine.</p>
    {{/if}}
  </div>
</div>
